<div class="col-xs-4 col-md-2">
  <ng-include src="'/tpls/files/menu.html'"></ng-include> 
</div>
<div class="col-xs-8 col-md-10 animated fadeInRight">
  <div class="file-list">
    <div class="op-nav">
      <span id="op-prev"><a href="javascript:;" ng-click="backPrev()">返回上一级</a></span>
      <ol class="breadcrumb opbreadcrumb">
        <li ng-repeat="step in breadcrumbs">
          <a href="javascript:;" ng-if="breadcrumbs.length-1!=$index" ng-click="goto(step.label)">{{step.label}}</a>
          <span ng-if="breadcrumbs.length-1==$index">{{step.label}}</span>
        </li> 
      </ol>
    </div>
    <div class="op-bar">
      <div class="op-select">
        <div class="item-select">
          <i class="icon-check checkbox" id="checkAll"></i>
        </div>
        <span class="check-info" ng-class="{'show-toolbar': opbar.showToolbar}">
          已选中<span ng-bind="opbar.checkNum"></span>个文件/文件夹
          <div class="op-action">
            <div class="btn-group" role="group">
              <a class="btn btn-default"><i class="fa fa-download"></i>下载</a>
              <a class="btn btn-default"><i class="fa fa-trash-o"></i>删除</a>
              <a class="btn btn-default" ng-class="{'disabled':opbar.checkNum>1}"> 重命名</a>
              <a class="btn btn-default"> 复制到</a>
              <a class="btn btn-default"> 移动到</a>
            </div>
          </div>
        </span>
        <div class="pull-right">
          <div class="btn-group" role="group">
            <a class="btn btn-default"><i class="fa fa-upload"></i>上传</a>
            <a class="btn btn-default"><i class="fa fa-folder-o"></i>新建文件夹</a>
          </div>
        </div>
      </div>
    </div>

    <filegrid></filegrid>
  </div>

</div>
