<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dialog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/yihu.css">
</head>
<body>
  <div class="container">
    <div style="margin-top:20px;">
      <button class="button bg-green dialogs" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="50%">打开对话框
      </button>
    </div>

    <div id="mydialog">
      <div class="dialog">
        <div class="dialog-head">
          <span class="dialog-close close rotate-hover"></span>
          <strong>对话框标题</strong>
        </div>
        <div class="dialog-body">对话框内容</div>
        <div class="dialog-foot">
          <button class="dialog-close button">取消</button>
          <button class="button bg-green dialog-close">确认</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/yihu.core.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/yihu.dialog.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>