<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Help</title>
  <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/libs/font-awesome/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>  
  <%- include inc/nav.html %>

  <div class="container-fluid" style="margin-top:120px;">
    <div class="row">
      <div class="btn btn-sm btn-default-outline">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
      <div class="btn btn-sm btn-default-outline">
        <i class="fa fa-mail-forward"></i>
      </div>
    </div>
  </div>

  <%- include inc/footer.html %>
  <script src="/javascripts/yihu.core.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/yihu.cookie.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>