<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Yihu">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <%- include component/head.html %>
</head>
<body>
  <div id="wrapper">
    <ng-include src="'/tpls/topbar.html'"></ng-include>

    <div class="row">
      <div class="crumb" ncy-breadcrumb></div>
      
      <div class="col-xs-12 col-md-12 animated fadeInRight">
        <div ui-view>
          加载中...
        </div>
      </div>
    </div>
  </div>

  <%- include component/footer.html %>
</body>
</html>