/** 三级导航样式 */
.dropdown:hover .menu-top {display: block;}
.dropdown-submenu{position:relative;}
.dropdown-submenu > .dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu{display:block;}
.dropdown-submenu > a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover > a:after{  border-left-color:#ffffff;}
.dropdown-submenu .pull-left{    float:none;}
.dropdown-submenu.pull-left > .dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

/** 分页 */
.pagination {text-align:center;font-size:12px;overflow:hidden;font-family:Helvetica,\5FAE\8F6F\96C5\9ED1;padding:11px 0 0;}  
.pagination a{background:#E6E6E6;color:#000;line-height:26px;border:1px solid #BCBCBC;zoom:0;}
.pagination a, .pagination span {display:inline-block;padding:0 8px;margin-right:8px;}
.pagination .current{line-height:26px;color:#fff;background:#6582DC;text-decoration:none;border:1px solid #358FE4;}
.pagination .current.prev, .pagination .current.next{border:1px solid #BCBCBC;background:#E6E6E6;color:#6C6C6C;}
.pagination a:hover{text-decoration:none;color:#fff;background:#6582DC;}

/** TAB组件 */
.J_menuTab {-webkit-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s;}

.active-block{
  width: 80px;
  background-color: #1ab394;
  color: #fff;
  padding: 2px 6px;
  text-decoration: none;
}

.active-block:hover, .active-block:active, .active-block:visited{
  color: #fff;
  text-decoration: none;
}

/** 首页列表展示 */
.home-left-list{width:100%;float:left;margin-top:12px;}
.home-left-list li{list-style:none;}
.home-left-list li{width:100%;float:left;border-bottom:1px solid #E5E5E5;padding:15px 0; position:relative;}

.home-left-list li .pic{width:173px; height:112px;float:left; position:relative; overflow:hidden;margin-left:}
.home-left-list li .pic img{width:173px; height:112px;}
.home-left-list li .pic p{ position:absolute; background:url(../images/bg-1.png);/*width:68px;*/ padding:0 10px; text-align:center; height:30px; line-height:30px;left:0;top:0;}
.home-left-list li .pic p a{font-size:16px;color:#fff;}
.home-left-list li .pic p:hover{background-color:#000000;}
.home-left-list li .rinfo{float:left;padding-left:15px;width:430px;}
.home-left-list li .rinfo a{font-size:20px;width:390px; display:inline-block}
.home-left-list li .rinfo p{font-size:14px;padding-top:4px;color:#666; line-height:20px;}
.home-left-list li .rinfo .time{font-size:12px; line-height:normal;padding-top:6px;}
.home-left-list li .rinfo .time i{ font-style:normal;color:#666; display:inline-block; line-height:21px;}
.home-left-list li .rinfo .time span{ display:none;}
.home-left-list li .rinfo .time span a.tag{ width:auto;display:inline-block; background:#E5E5E5; height:21px;-webkit-border-radius:21px;-moz-border-radius:21px;border-radius:21px;padding:0 10px;font-size:12px;margin:0 5px; line-height:21px;}
.home-left-list li .rinfo .time span a.tag:hover{ background:#CC0000;color:#fff;}
.home-left-list li:hover{ background:#F7F7F7}

.home-left-list li:hover .rinfo .time span{ display:inline-table;}
.home-left .more{width:100%;float:left;margin-top:15px;}
.home-left .more a{width:100%; height:44px; line-height:44px; background:#F1F1F1; display:block; text-align:center;font-size:16px;}

.trans,.home-left-list span a{
  -webkit-transition: all .5s ease;
  -moz-transition:all .5s ease;
  -o-transition:all .5s ease;
  -ms-transition:all .5s ease;
  transition:all .5s ease;
}

.rotate180:hover{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}