html,body{
  margin:0;
  padding:0;
}
body {
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
  margin:0 auto;
}
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
h5 {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
a {color: #007aff; }
a:hover {color: #666666; text-decoration: none; }
::-webkit-scrollbar-track{background-color:#F5F5F5}
::-webkit-scrollbar{width:6px;background-color:#F5F5F5}
::-webkit-scrollbar-thumb{background-color:#999}

.fontawesome-icon-list {
  margin-top: 22px;
}
.fontawesome-icon-list .fa-hover a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #222222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.fontawesome-icon-list .fa-hover a .fa {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.fontawesome-icon-list .fa-hover a:hover {
  background-color: #1d9d74;
  color: #ffffff;
  text-decoration: none;
}
.fontawesome-icon-list .fa-hover a:hover .fa {
  font-size: 28px;
  vertical-align: -6px;
}
.fontawesome-icon-list .fa-hover a:hover .text-muted {
  color: #bbe2d5;
}

.gray-bg{background-color:#f3f3f4}
.white-bg{background-color:#fff}
.navy-bg{background-color:#1ab394;color:#fff}
.blue-bg{background-color:#1c84c6;color:#fff}
.lazur-bg{background-color:#23c6c8;color:#fff}
.yellow-bg{background-color:#f8ac59;color:#fff}
.red-bg{background-color:#ed5565;color:#fff}
.black-bg{background-color:#262626}
.wrapper-content {padding: 20px;}
.wrapper {padding: 0 20px;}
.btn-primary {background-color: #1ab394; border-color: #1ab394;color: #FFF;}
.btn{border-radius:3px}
.float-e-margins .btn{margin-bottom:5px}
.btn-w-m{min-width:120px}
.btn-primary.btn-outline{color:#1ab394}
.btn-success.btn-outline{color:#1c84c6}
.btn-info.btn-outline{color:#23c6c8}
.btn-warning.btn-outline{color:#f8ac59}
.btn-danger.btn-outline{color:#ed5565}
.btn-danger.btn-outline:hover,.btn-info.btn-outline:hover,.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-warning.btn-outline:hover{color:#fff}
.btn-primary{background-color:#1ab394;border-color:#1ab394;color:#FFF}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{background-color:#18a689;border-color:#18a689;color:#FFF}
.btn-primary.active,.btn-primary:active,.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.active[disabled],.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#1dc5a3;border-color:#1dc5a3}
.btn-success{background-color:#1c84c6;border-color:#1c84c6;color:#FFF}
.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{background-color:#1a7bb9;border-color:#1a7bb9;color:#FFF}

.badge{background-color:#d1dade;color:#5e5e5e;font-family:'Open Sans';font-size:11px;font-weight:600;padding-bottom:4px;padding-left:6px;padding-right:6px;text-shadow:none}
.badge-primary,.label-primary{background-color:#1ab394;color:#FFF}
.badge-success,.label-success{background-color:#1c84c6;color:#FFF}
.badge-warning,.label-warning{background-color:#f8ac59;color:#FFF}
.badge-warning-light,.label-warning-light{background-color:#f8ac59;color:#fff}
.badge-danger,.label-danger{background-color:#ed5565;color:#FFF}
.badge-info,.label-info{background-color:#23c6c8;color:#FFF}
.badge-inverse,.label-inverse{background-color:#262626;color:#FFF}
.badge-white,.label-white{background-color:#FFF;color:#5E5E5E}
.badge-disable,.label-white{background-color:#2A2E36;color:#8B91A0}

.clients-list table tr td {
  height: 46px;
  vertical-align: middle;
  border: none;
}

.logo img{ margin-top:5px;}
i[class^="fa"]{
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.12s;
  -moz-transition: all 0.12s;
  transition: all 0.12s;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox-content{background-color:#fff;color:inherit;padding:15px 20px 20px;border-color:#e7eaec;border-image:none;border-style:solid solid none;border-width:1px 0}
.container-fluid.main-nav li.active{
  background-color: white;
}

/** 导航 */
.navbar .container-fluid.main-nav .nav-collapse .nav > li {
  float: none;
  display: inline-block;
  text-align: center;
  margin: 0 6px;
}
.navbar .container-fluid.main-nav .nav-collapse .nav > li > a {
  display: block;
  height: 100%;
  text-align: center;
  padding: 10px 15px 9px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .container-fluid.main-nav .nav-collapse .nav > li > a span {
  font-size: 28px;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto 2px;
}
.navbar.scroll-hide.closed {
  top: -60px; 
}
.nav>li.active{border-left:4px solid #19aa8d;background:#293846}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
  -moz-border-bottom-colors:none;
  -moz-border-left-colors:none;
  -moz-border-right-colors:none;
  -moz-border-top-colors:none;
  background:0 0;
  border-color:#ddd #ddd rgba(0,0,0,0);
  border-bottom:#f3f3f4;
  border-image:none;
  border-style:solid;
  border-width:1px;
  color:#555;
  cursor:default
}
.nav.nav-tabs li{background:0 0;border:none}
.nav-tabs>li>a{color:#A7B1C2;font-weight:600;padding:10px 20px 10px 25px}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{background-color:#e6e6e6;color:#676a6c}

/** 客户管理 */
.clients-list {
    margin-top: 20px;
}
.client-avatar{
  width: 42px;
}
.client-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.client-link {
  font-weight: 600;
}
.contact-type {
  width: 20px;
  color: #c1c3c4;
}
.client-status {
    text-align: left;
}
/** 下拉菜单 */
.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.96);
  border: 1px solid #dddddd;
  padding: 0;
  min-width: 120px;
  max-width: 300px; 
}
.dropdown-menu > li {
  margin: 0; 
}  
.dropdown-menu > li > a {
  padding: 10px 15px 10px 2px;
  border-bottom: 1px solid #e2e2e2;
  color: #999999;
  font-size: 12px;
  margin-left: 14px; 
}    
.dropdown-menu > li > a:hover, .dropdown-menu > li > a.current {
  border-bottom-color: #007aff;
  color: #007aff;
  background: transparent; 
}
.dropdown-menu > li > a i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle; 
}
.dropdown-menu > li:last-child > a {
  border: 0; 
}
.dropdown-menu > li .notifications {
  margin: -1px -4px 0 0 !important;
  float: right; 
}
.dropdown-menu > li p {
  margin: 0 60px 0 0; 
}

/**
 * 时间轴
 */
#vertical-timeline{position:relative;padding:0;margin-top:2em;margin-bottom:2em}
#vertical-timeline::before{content:'';position:absolute;top:0;left:18px;height:100%;width:4px;background:#f1f1f1}
.vertical-timeline-content .btn{float:right}
#vertical-timeline.light-timeline:before{background:#e7eaec}
.dark-timeline .vertical-timeline-content:before{border-color:transparent #f5f5f5 transparent transparent}
.dark-timeline.center-orientation .vertical-timeline-content:before{border-color:transparent transparent transparent #f5f5f5}
.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before{border-color:transparent #f5f5f5 transparent transparent}
.dark-timeline .vertical-timeline-content,.dark-timeline.center-orientation .vertical-timeline-content{background:#f5f5f5}
.vertical-timeline-content p{margin:0}
.vertical-timeline-icon.gray-bg{color:#a7aaab}
.center-orientation .vertical-timeline-icon i{margin-left:0;margin-right:-12px}
.vertical-timeline-icon i{right:50%;left:auto;margin-left:auto;margin-right:-12px}
@media only screen and (min-width:1170px){#vertical-timeline.center-orientation{margin-top:3em;margin-bottom:3em}
#vertical-timeline.center-orientation:before{left:50%;margin-left:-2px}
}
@media only screen and (max-width:1170px){.center-orientation.dark-timeline .vertical-timeline-content:before{border-color:transparent #f5f5f5 transparent transparent}
}
.vertical-timeline-block{position:relative;margin:2em 0}
.vertical-timeline-block:after{content:"";display:table;clear:both}
.vertical-timeline-block:first-child{margin-top:0}
.vertical-timeline-block:last-child{margin-bottom:0}
@media only screen and (min-width:1170px){
  .center-orientation .vertical-timeline-block{margin:4em 0}
  .center-orientation .vertical-timeline-block:first-child{margin-top:0}
  .center-orientation .vertical-timeline-block:last-child{margin-bottom:0}
}
.vertical-timeline-icon{position:absolute;top:0;left:0;width:40px;height:40px;border-radius:50%;font-size:16px;border:3px solid #f1f1f1;text-align:center}
.vertical-timeline-icon i{display:block;width:24px;height:24px;position:relative;left:50%;top:50%;margin-left:-12px;margin-top:-9px}
@media only screen and (min-width:1170px){
  .center-orientation .vertical-timeline-icon{width:50px;height:50px;left:50%;margin-left:-25px;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;font-size:19px}
  .center-orientation .vertical-timeline-icon i{margin-left:-12px;margin-top:-10px}
  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden{visibility:hidden}
}
.vertical-timeline-content{position:relative;margin-left:60px;background:#fff;border-radius:.25em;padding:1em}
.vertical-timeline-content:after{content:"";display:table;clear:both}
.vertical-timeline-content h2{font-weight:400;margin-top:4px}
.vertical-timeline-content p{margin:1em 0;line-height:1.6}
.vertical-timeline-content .vertical-date{float:left;font-weight:500}
.vertical-date small{color:#1ab394;font-weight:400}
.vertical-timeline-content::before{content:'';position:absolute;top:16px;right:100%;height:0;width:0;border:7px solid transparent;border-right:7px solid #fff}
@media only screen and (min-width:768px){
  .vertical-timeline-content h2{font-size:18px}
  .vertical-timeline-content p{font-size:13px}
}
@media only screen and (min-width:1170px){
  .center-orientation .vertical-timeline-content{margin-left:0;padding:1.6em;width:45%}
  .center-orientation .vertical-timeline-content::before{top:24px;left:100%;border-color:transparent;border-left-color:#fff}
  .center-orientation .vertical-timeline-content .btn{float:left}
  .center-orientation .vertical-timeline-content .vertical-date{position:absolute;width:100%;left:122%;top:2px;font-size:14px}
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content{float:right}
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before{top:24px;left:auto;right:100%;border-color:transparent;border-right-color:#fff}
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn{float:right}
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date{left:auto;right:122%;text-align:right}
  .center-orientation .cssanimations .vertical-timeline-content.is-hidden{visibility:hidden}
}

/** 文件管理器 */
.file-box{float:left;width:220px}
.file-manager h5{text-transform:uppercase}
.file-manager{list-style:none outside none;margin:0;padding:0}
.folder-list li a{color:#666;display:block;padding:5px 0}
.folder-list li{border-bottom:1px solid #e7eaec;display:block}
.folder-list li i{margin-right:8px;color:#3d4d5d}
.category-list li a{color:#666;display:block;padding:5px 0}
.category-list li{display:block}
.category-list li i{margin-right:8px;color:#3d4d5d}
.category-list li a .text-navy{color:#1ab394}
.category-list li a .text-primary{color:#1c84c6}
.category-list li a .text-info{color:#23c6c8}
.category-list li a .text-danger{color:#EF5352}
.category-list li a .text-warning{color:#F8AC59}
.file-manager h5.tag-title{margin-top:20px}
ul.tag-list li {list-style: none;}
.tag-list li{float:left}
.tag-list li a{font-size:10px;background-color:#f3f3f4;padding:5px 12px;color:inherit;border-radius:2px;border:1px solid #e7eaec;margin-right:5px;margin-top:5px;display:block}
.file{border:1px solid #e7eaec;padding:0;background-color:#fff;position:relative;margin-bottom:20px;margin-right:20px}
.file-manager .hr-line-dashed{margin:15px 0}
.file .icon,.file .image{height:100px;overflow:hidden}
.file .icon{padding:15px 10px;text-align:center}
.file-control{color:inherit;font-size:11px;margin-right:10px}
.file-control.active{text-decoration:underline}
.file .icon i{font-size:70px;color:#dadada}
.file .file-name{padding:10px;background-color:#f8f8f8;border-top:1px solid #e7eaec}
.file-name small{color:#676a6c}
.corner{position:absolute;display:inline-block;width:0;height:0;line-height:0;border:.6em solid transparent;border-right:.6em solid #f1f1f1;border-bottom:.6em solid #f1f1f1;right:0;bottom:0}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}