<div class="login">
  <div class="row">
    <div class="col-md-12">
      <div><h3>用户登录</h3></div>

      <form action="{{formOption.action}}" class="form-horizontal" role="form" name="loginForm" ng-submit="signIn(loginForm.$valid)" ng-controller="UserLoginCtrl" novalidate>

        <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"/></span>
            <input type="email" name="email" class="form-control" placeholder="推荐使用163邮箱" ng-model="user.email" required >              
          </div>
          <div ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
            <span class="text-warning" ng-show="loginForm.email.$error.required">请输入您的邮箱地址</span>
            <span class="text-danger" ng-show="loginForm.email.$error.email">无效的邮箱地址</span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"/></span>       
            <input type="password" name="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="user.password" required>
          </div>
        </div>

        <div class="form-group">
          <div class="text-left">
            <input type="checkbox" icheck name="autoLogin" ng-model="user.autoLogin">&nbsp;自动登录
            <a class="pull-right" href="{{formOption.forgetPwd}}">忘记密码</a>
          </div>
        </div>
        
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="loginForm.$invalid">登录</button>
        
        <br/>
        <p>还没有账户？</p>
        <a href="{{formOption.signup}}" class="btn btn-default-outline btn-block">立即注册</a>
      </form>
    </div>
  </div>
</div>